.topPage {
  margin: 80px auto 30px;
  display: flex;
  .left {
    width: 250px;
    ul.sidenav {
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      width: 200px;
      background-color: #f1f1f1;
      position: relative;
      overflow: auto;
      li a {
        display: block;
        color: black;
        padding: 8px 16px;
        text-decoration: none;        
      }
      li a.active {
        background-color: #d85358;
        color: white;
      }
      li a:hover:not(.active) {
        opacity: .7;
        background-color: rgb(154, 200, 226);
      }
    }
  }
  .right {
    width: calc(100% - 250px);
    .title-area {
      margin: 0 0 20px;
      .title {
        display: inline-block;
        font-size: 28px;
        margin: 0 30px 0 0;
        vertical-align: middle;
      }
      .create-product-btn {
        border: none;
        border-radius: 18px;
        background: #29b744;
        color: #fff;
        opacity: 1;
        padding: 10px;
        text-align: center;  
        text-decoration: none;
        transition: opacity .5s;
        width: 220px;
        cursor: pointer;
        vertical-align: middle;
        &:hover {
          opacity: .7;
          text-decoration: none;
        }
      }
    }
    .search {
      padding: 10px;
      background-color: rgb(226, 226, 226);
      border: 1px solid #a8b7c5;
      border-radius: 5px;
      width: 1100px;
      &__top {
        border-bottom: 1px solid #a8b7c5;
        height: 40px;
        line-height: 40px;
        display: flex;
        &__left {
          display: flex;
          padding-right: 20px;
          width: 500px;
          vertical-align: middle;
        }
        &__right {
          width: 500px;
          vertical-align: middle;
          select {
            border: 1px solid #ccc;
            border-radius: 2px;
            height: 30px;
          }
        }
        .search_product_code {
          display: flex;
          input {
            width: auto;
          }
        }
      }
      &__bottom {
        border-bottom: 1px solid #a8b7c5;
        display: flex;
        &__left {
          padding-right: 20px;
          width: 500px;
          vertical-align: middle;
          margin-top: 2px;
          &__box {
            display: flex;
            height: 40px;
            line-height: 40px;
            input {
              margin-top: 2px;
            }
          }
        }
        &__right {
          padding-right: 20px;
          width: 500px;
          vertical-align: middle;
          &__box {
            height: 40px;
            line-height: 40px;
            input {
              height: 30px;
              line-height: 30px;
              border: 1px solid #ccc;
              border-radius: 2px;
            }
          }
        }
      }
      .searchBtn {
        width: 100px;
        border-radius: 10px;
        background: #69b6fd;
        color: #fff;
        text-align: center;
        text-decoration: none;
        border: none;
        margin-top: 10px;
        opacity: 1;
        transition: opacity .5s;
        outline: none;
        cursor: pointer;
      }
      .reset {
        background: #888888;
      }
    }
    label {
      width: 100px !important;
    }
    p {
      display: inline-block;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 1100px;
    }
    th {
      text-align: center;
      color:white;
      background: rgb(84, 132, 187);
      width: 10%;
      padding: 10px 0;
    }
    tr.lovelyrow {
      background-color: rgb(253, 253, 253);
      &:nth-child(odd) {
        background-color: #eee
      }
      &:hover {
        opacity: .7;
        background-color: rgb(154, 200, 226);
        cursor: pointer;
      }
    }
    td {
      text-align: center;
      border-left: 1px solid #a8b7c5;
      border-bottom: 1px solid #a8b7c5;
      border-top:none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 30px;
      width: 10%;
      max-width: 15%;
      padding: 10px 0;
      &:last-child {
        border-right: 1px solid #a8b7c5;
      }
    }
    td.product-name {
      width: 25%;
      max-width: 25%;
    }
  }
}