.createProductPage {
  margin-top: 80px;
}

.createProductPage .title {
  margin: 0;
  text-align: center;
}

.createProductPage .create-product-form {
  background-color: #deebf3;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  margin-top: 20px;
}

.createProductPage .create-product-form h3 {
  margin: 20px 0;
}

.createProductPage .create-product-form .product-info {
  margin: 0 auto;
  width: 45%;
}

.createProductPage .create-product-form .product-info .form-group label {
  margin: 0;
  vertical-align: middle;
}

.createProductPage .create-product-form .product-info .form-group input {
  margin-top: 5px;
}

.createProductPage .create-product-form .parts-info {
  margin: 0 auto;
  width: 45%;
}

.createProductPage .create-product-form .parts-info h3 {
  display: inline-block;
  vertical-align: middle;
}

.createProductPage .create-product-form .parts-info .note {
  color: gray;
  display: inline;
  vertical-align: middle;
}

.createProductPage .create-product-form .parts-info .parts-select {
  display: flex;
  height: 30px;
  padding: 10px 10px 0;
}

.createProductPage .create-product-form .parts-info .parts-select .parts-name {
  padding: 0 5px;
}

.createProductPage .create-part-form {
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

.createProductPage .create-part-form .product-info {
  margin: 0 auto;
  width: 100%;
}

.createProductPage .new_user .form-group {
  max-width: 500px;
  margin: 0 auto 1rem;
}

.createProductPage .new_user .form-group .form-control {
  background: #f6f8fa;
}

.createProductPage .new_user .form-group select {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 7px;
  margin-top: 5px;
}

.note-mark {
  background-color: red;
  border-radius: 4px;
  color: white;
  display: inline;
  font-size: 12px;
  padding: 1px 3px;
  vertical-align: middle;
}

.line {
  margin: 0 auto;
  width: 1px;
  background-color: #a8b7c5;
}

.img_view {
  margin: 8px 0;
}

.img_del {
  background-color: #ccc;
  border-radius: 4px;
  color: blue;
  display: inline;
  font-size: 12px;
  padding: 3px 5px;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
}

.loginBtn {
  padding: 12px;
  width: 200px;
  border-radius: 21px;
  background: #29b744;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  margin-top: 20px;
  opacity: 1;
  transition: opacity 0.5s;
  cursor: pointer;
}

.loginBtn:hover {
  opacity: 0.7;
  text-decoration: none;
}

.backBtn {
  padding: 7px;
  border-radius: 21px;
  margin-left: 20px;
  width: 80px;
  background: #888888;
}

