.show-product {
  margin: 80px auto 0;
  width: 1000px;
}

.show-product .product-info {
  padding: 20px;
  margin-top: 10px;
  background-color: #e7f3fc;
  border-radius: 10px;
}

.show-product .product-info .top {
  display: flex;
  width: 100%;
}

.show-product .product-info .top h3 {
  display: inline;
  line-height: 30px;
}

.show-product .product-info .top .bottons {
  display: flex;
  margin-left: auto;
}

.show-product .product-info .main {
  display: flex;
  margin-top: 10px;
}

.show-product .product-info .main .left {
  display: flex;
}

.show-product .product-info .main .left .image {
  height: 200px;
  width: 200px;
  border: 1px solid #969393;
}

.show-product .product-info .main .left table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 40px;
  margin-right: 80px;
}

.show-product .product-info .main .left th {
  text-align: center;
  color: white;
  background: #5484bb;
  padding: 10px;
}

.show-product .product-info .main .left td {
  background-color: white;
  text-align: center;
  border: 1px solid #a8b7c5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
  min-width: 100px;
  padding: 10px;
}

.show-product .product-info .main .left td:last-child {
  border-right: 1px solid #a8b7c5;
}

.show-product .product-info .main .left .parts {
  padding: 0 20px;
  min-width: 200px;
}

.show-product .product-info .main .left .parts table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.show-product .product-info .main .left .parts tr.lovelyrow {
  background-color: #fdfdfd;
}

.show-product .product-info .main .left .parts tr.lovelyrow:nth-child(odd) {
  background-color: #eee;
}

.show-product .product-info .main .left .parts tr.lovelyrow:hover {
  opacity: 0.7;
  background-color: #9ac8e2;
  cursor: pointer;
}

.show-product .product-info .main .left .parts td {
  text-align: left;
  border: 1px solid #a8b7c5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 10px;
}

.edit-btn {
  background-color: white;
  border: 1px solid #5e9ad3;
  border-radius: 10px;
  color: #5e9ad3;
  height: 30px;
  line-height: 30px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.5s;
  width: 60px;
  cursor: pointer;
}

.edit-btn:hover {
  opacity: 0.7;
  text-decoration: none;
}

.delete-btn {
  border: none;
  border-radius: 10px;
  background: red;
  color: #fff;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.5s;
  width: 60px;
  cursor: pointer;
}

.delete-btn:hover {
  opacity: 0.7;
  text-decoration: none;
}

*:focus {
  outline: none;
}

a:active {
  text-decoration: none;
}

